<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="短信发送平台" />
<link rel="stylesheet" href="/css/amazeui.min.css" />
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="/css/app.css">
<!--<script src="/js/echarts.min.js"></script>-->