<header class="am-topbar am-topbar-inverse admin-header" >
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="/img/logo.png" alt="">
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse" >
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <#if Session.SPRING_SECURITY_CONTEXT.authentication.principal.username??>
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick">欢迎，${(Session.SPRING_SECURITY_CONTEXT.authentication.principal.username)!'未登录'}</span><span class="tpl-header-list-user-ico"> </span>
                    </a>
                    <!--<ul class="am-dropdown-content">-->
                    <!--<li><a href="#"><span class="am-icon-bell-o"></span> 资料</a></li>-->
                    <!--<li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>-->
                    <!--<li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>-->
                    <!--</ul>-->
                </li>
                <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
                <li><a href="/user/exit" class="tpl-header-list-link"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span>注销</a></li>

                <#else/>
                <li><a href="/user/view/login" class="tpl-header-list-link"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span>返回登录页</a></li>
            </#if>

        </ul>
    </div>
</header>